<div class="containerPage" fxFlex="0 0 calc(100% - 5px)">    
    <div class="containerAdverts">
        <span id="labelAdvert" class="labelAdvert">Digite o nome da sua cidade abaixo, ou nos permita saber sua localização</span><br>&nbsp;
        <button (click)="enableLocation()" id="buttonEnableLocation">Habilitar Localização</button><br>
    </div>
    
    <div class="container">
        <form #form="ngForm">
            <div class="example-form-field containerInput">
                <label class="labelForInput" for="inputCityLocation">Busque por uma cidade:</label>&nbsp;
                <input placeholder="Ex: Niterói, RJ" id="inputCityLocation" name="cityName" type="text" [(ngModel)]="value">
                <button (click)="getWeatherForecastByCity()" class="buttonFindByCity"><mat-icon>search</mat-icon></button>
            </div>
        </form>
    </div>
    
    <div *ngIf="notFound" class="containerNotFound">
        <span>404 - Não encontramos previsões para a localização fornecida :(</span>
    </div>

    <div *ngIf="forecastNow && !notFound">
        <div class="containerForecastInfoNow">
            <div>
                <span class="tempNow">{{forecastNow.temp}}<span class="celsius">ºc</span></span>
            </div>
            <img class="iconForecastNow" src="{{indexedArrayIconsForecast[forecastNow.condition_slug]}}">
            <div class="containerItensForecastNow">
                <span>{{forecastNow.city}} </span><br>
                <span>{{indexedArrayWeekday[forecastNow.forecast[0].weekday]}}, {{forecastNow.time}}</span><br>
                <span>{{forecastNow.description}}</span><br><br>
            </div>
        </div>
    
        <div class="containerForecastItens" fxLayoutAlign="space-around center" fxLayout="row">
            <div *ngFor="let item of forecast | slice:0:7" class="itemForecast" fxFlex="0 1 calc(20% - 5px)">
                <span>{{item.weekday}}.</span> <br>
                <img src="{{indexedArrayIconsForecast[item.condition]}}"> <br>
                <div class="containerTemps">
                    <div class="subcontainerTemps">
                        <span class="material-icons north">north</span>
                        <span class="tempMax">{{item.max}}º</span>
                    </div>
                    <div class="subcontainerTemps">
                        <span class="material-icons south">south</span>
                        <span class="tempMin">{{item.min}}º</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>