.closeButton{
    background: none;
    border: none;
    cursor: pointer;
}
.containerInput{
    font-size: 28px;
    display: inline-block;
    position: relative;
    text-align: left;
    margin-top: 40px;
    width: 100%;
}
.labelExample{
    font-size: 16px;
}
.labelAdvert{
    margin: 6px;
    font-size: 18px;
    line-height: 1.5;
}
.containerNotFound{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}
.containerAdverts{
    text-align: center;
    margin-bottom: 10px;
}
#buttonEnableLocation{
    background-color: #140080;
    color: white;
    border: none;
    font-size: 16px;
    padding: 6px;
    margin: 6px;
    margin-top: 12px;
    border-radius: 4px;
}
.itemForecast{
    display: block;
    text-align: center;
    border-left: 0.5px solid #a3a3a3;
}
.itemForecast:first-child{
    border-left: none;
}
.containerForecastItens{
    margin-top: 30px;
}
.containerPage{
    padding: 25px 16px 25px 16px;
    margin: 0 auto;
    border-radius: 10px;
    background: rgb(246 246 246 / 85%);
    border: 3px solid #5d88be;
}
#inputCityLocation{
    margin-top: 16px;
    float: left;
    width: 98%;
    font-size: 22px;
    border-radius: 6px;
    border: 1px solid black;
    padding: 5px;
    color: #595959;
}
.containerTemps .material-icons{
    font-size: 16px;
}
.subcontainerTemps{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-icons.south{
    color: blue;
}
.material-icons.north{
    color: red;
}
.buttonFindByCity{
    float: right;
    margin-top: 42px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    right: 0px;
}
.tempNow{
    font-size: 42px;
    float: left;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 10px;
}
.containerForecastInfoNow{
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.iconForecastNow{
    float: left;
    width: 70px;
}
.celsius{
    font-size: 17px;
}
.tempMax{
    color: #595959;
}
.tempMin{
    color: #878787;
}
.containerItensForecastNow{
    color: #575757;
    font-size: 17px;
    margin-left: 16px;
}
.labelForInput{
    color: #434343;
}

@media only screen and (max-device-width: 448px){
    .containerPrincipalLabel{
        font-size: 24px;
    }
}