/* You can add global styles to this file, and also import other style files */

app-root {
    width: 45%;
}
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    padding-top: 5%;
    justify-content: center;
    background-image: url("/assets/img/clima.jpg");
}
.mat-form-field{
    width: 100% !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #000;
    text-align: center;
}
.mat-form-field.mat-focused .mat-form-field-label{
    color: #000;
    text-align: center;
}
@media only screen and (max-device-width: 1240px){
    app-root {
        width: 55%;
    }
}
@media only screen and (max-device-width: 1024px){
    app-root {
        width: 70%;
    }
}
@media only screen and (max-device-width: 767px){
    app-root {
        width: 90%;
    }
}
@media only screen and (max-device-width: 480px){
    app-root {
        width: 100%;
    }
}